@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #000000;
  color: #ffffff;
}

body {
  background: #000000;
  font-family: 'Inter', sans-serif; /* Or your preferred font */
}